body{
    background-color: burlywood;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section{
    border: 2px;
    border-style: dashed;
    border-color: bisque;
    padding: 10px;
    margin: 5px;
}

footer{
    background-color: bisque;
    color: #333333;
    text-align: center;
}