body{
    background-color: #eed5b7;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 15px;
    border: 2px black dashed;
}
section{
    padding: 5px;
    border: 2px black dashed;
    margin-top: 5px;
}
h3{
    font-size: x-large;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
dt{
    margin-top: 10px;
}
.naglowek{
    font-weight: 800;
    text-align: center;
    font-size: large;
}
td{
    text-align: left;
}
img{
    width: 176px;
}
table{
    background-color: #e5ecf3;
    color: black;
}
table, th, td{
    border:1px solid black;
}